<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Клиенты</title>
</head>
<body>
<h1>Новый клиент</h1>
<form action="clients" method="post">
  <label>Имя
    <input type="text" name="name"/>
  </label>
  <button type="submit">Добавить</button>
</form>
<h4>Клиенты</h4>
<table style="width: 400px">
  <thead>
  <tr>
    <td style="width: 50px">Id</td>
    <td style="width: 150px">Имя</td>
  </tr>
  </thead>
  <tbody>
  <#list clients as client>
  <tr>
    <td>${client.id}</td>
    <td>${client.name}</td>
  </tr>
  </#list>
  </tbody>
</table>
</body>
</html>
